/* ZEROING */

* {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
}

@font-face {
	font-family: 'Roboto';
	src: url(./assets/fonts/Roboto-Regular.ttf);
}
@font-face {
	font-family: 'Roboto';
	src: url(./assets/fonts/Roboto-Bold.ttf);
	font-weight: bold;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 18px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	scroll-behavior: smooth;
	color: #373737;
	font-family: 'Roboto', sans-serif;
}

nav,
footer,
header,
main {
	display: block;
	max-width: 1200px;
	margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/* HEADER */

/* .header {
  border: 1px solid #373737; 
} */

.navi-list {
	display: flex;
	justify-content: end;
}
.navi-item {
	margin: 20px 0px 10px 30px;
	font-size: 20px;
}

.ackcent {
	line-height: 2;
}

.navi-item-link {
	color: #373737;
	transition: color 0.3s;
	line-height: 2;
}

.navi-item-link:hover {
	color: #b72f54;
}

/* MAIN LEFT SIDE */

main {
	display: flex;
}

.left-aside {
	width: 450px;
	background-color: #353a46;
}

.photo {
	position: absolute;
	top: 0;
}

.contacts-position {
	margin-top: 650px;
}

.contacts-item-link {
	color: #fff;
	line-height: 1.7;
	margin-left: 70px;
}

.contacts-item-link:hover {
	color: #b72f54;
}

.study {
	margin: 50px 0;
}

.education-name {
	color: #fff;
	margin-left: 70px;
	font-size: 16px;
	padding: 5px 0;
}

.contacts-name-left h2,
.contacts-name-right h2 {
	padding-left: 70px;
	margin: 20px 0;
	font-size: 24px;
	font-weight: bold;
	background-color: #434854;
	color: #fff;
	line-height: 1.7;
}